@media #{$tablet} {
	body{
		// display: none;
	}
		#app{
			#home{
				padding: 5vw;
				@include linear-gradient(to right, transparent, transparent 40%, $rosaito 40%, $rosaito);
				.base{
					.child{
						&[class~="block"]{
							max-width: 240px;
						}
					}
				}
			}
			#about-us{
				padding:5vw;
				@include linear-gradient(to right, $clarito, $clarito 40%, transparent 40%, transparent);
				.base{
					height: 20vw;
					width: 30vw;
					.child{
						&[class~="model"]{
							height: 25vw;
						}
					}
				}
			}
		}
}
